@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";


@theme inline {
  --color-primary: #fcc00f;
  --color-secondary: #fa6338;
  --color-button: #d6201a;
  --color-text-primary: #333;
  --color-text-secondary: #303133;
  --color-text-grey: #666;
  --color-text-light-grey: #606266;
}


@layer utilities {

  .container {
    @apply !max-w-[1380px] mx-auto px-4
  }

  button.selected {
    @apply border border-black font-semibold
  }

  .thumbnail {
    @apply w-[65px] h-[65px] object-cover rounded-md cursor-pointer transition;
  }

  .thumbnail-active {
    @apply ring-2 ring-black;
  }

  .custom-scrollbar::-webkit-scrollbar {
    @apply h-1;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    @apply bg-gray-100 rounded-full;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-gray-400 rounded-full;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-500;
  }
}

body {
  overflow-x: hidden;
  width: 100%;
  box-sizing: border-box;
}

.font-arial-black {
  font-family: Arial Black;
}

.font-open-sans {
  font-family: "Open Sans", sans-serif;
}

.font-roboto {
  font-family: "Roboto", sans-serif;
}

.categories-scroll {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.categories-scroll::-webkit-scrollbar {
  display: none;
}

.custom-lens {
  background: rgba(33, 150, 243, .2);
  border: 2px solid #2196f3;
  pointer-events: none;
  position: absolute;
  z-index: 10;
}